 Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/backend/.venv/
/backend/venv/
/backend/__pycache__/
/Python312/
*.pyc

backend/ASAP2_train_sourcetexts.csv
backend/models/proficiency_model.pkl
backend/ASAP2_train_sourcetexts_features.pkl
backend/models/asap_linguistic_features.npy
