scikit-learn
numpy
pandas
python-dotenv
fastapi
uvicorn
spacy
setuptools
calamancy==0.2.2
cefrpy
pydantic
requests
language-tool-python
symspellpy
google-generativeai
pypdf
nltk
matplotlib
seaborn
tqdm
torch
transformers
xgboost
sentencepiece
langdetect
imbalanced-learn
supabase