scikit-learn
numpy
pandas
python-dotenv
fastapi
uvicorn
spacy
calamancy==0.2.2
cefrpy
pydantic
requests
language-tool-python
symspellpy
google-generativeai
pypdf
nltk
matplotlib
seaborn
tqdm
torch
transformers
xgboost
